<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>Sign Up to AFTAS Club</title>
</head>
<body>
<div class="register container-fluid row d-flex justify-content-between">
  <div class="registerContainer col-md-7">
    <div class="logoInfos" style="width: 700px;">
      <div class="logoTitle">AFTAS Club</div>
      <div class="leftSide">
        <div class="t-e-x-t">
          <div class="formHeader">
            <h2 class="sign-up">Sign up</h2>
            <div class="loginLink">
              <div class="if-you-already">If you already have an account register</div>
              <div class="you-can-login-container">
                <span class="you-can">You can </span>
                <a routerLink="/login" class="login-here text-decoration-none">Login here !</a>
              </div>
            </div>
          </div>
          <form class="d-flex gap-3 flex-column w-100">
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="inputDetails">
                  <div class="usernameLabel">
                    <div class="inputLabel">FirstName</div>
                    <div class="inputGroup">
                      <img class="message-1-icon" alt="" src="./assets/images/user-48.png" />
                      <input class="inputClass" placeholder="Enter firstname" type="text"/>
                    </div>
                    <div class="line"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="inputDetails">
                  <div class="usernameLabel">
                    <div class="inputLabel">LastName</div>
                    <div class="inputGroup">
                      <img class="message-1-icon" alt="" src="./assets/images/user-48.png" />
                      <input class="inputClass" placeholder="Enter Lastname" type="text"/>
                     </div>
                    <div class="line"></div>
                  </div>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="inputDetails">
                  <div class="inputLabel">Nationality</div>
                  <div class="inputGroup">
                    <img class="message-1-icon" alt="" src="./assets/images/passport-48.png"/>
                    <input class="inputClass" placeholder="Enter nationality" type="text"/>
                  </div>
                  <div class="line"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="inputDetails">
                  <div class="inputLabel">Email</div>
                  <div class="inputGroup">
                    <img class="message-1-icon" alt="" src="./assets/images/mail-24.png"/>
                    <input class="inputClass" placeholder="Email address" type="email"/>
                  </div>
                  <div class="line"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="inputDetails">
                  <div class="nationalityLabel">Identity Document</div>
                  <div class="inputGroup">
                    <img class="message-1-icon" alt="" src="../../assets/images/identity-48.png"/>
                    <select class="inputClass">
                      <option class="">Select Doc</option>
                    </select>
                  </div>
                  <div class="line"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="inputDetails">
                  <div class="nationalityLabel">Identity Number</div>
                  <div class="inputGroup">
                    <img class="message-1-icon" alt="" src="../../assets/images/identity-48.png"/>
                    <input class="inputClass" placeholder="Enter identity N°" type="number"/>
                  </div>
                  <div class="line"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="inputDetails">
                  <div class="password">Password</div>
                  <div class="confirm-password-frame">
                    <div class="lock-icon">
                      <div class="input-field-confirm-password">
                        <img class="padlock-1-icon" alt="" src="./assets/images/password-24.png"/>
                      </div>
                      <input class="enter-your-password" placeholder="Enter Password" type="password"/>
                    </div>
                    <img class="invisible-1-icon" alt="" src="./assets/images/hide-24.png"/>
                  </div>
                  <div class="line"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="inputDetails">
                  <div class="confrim-password">Confrim Password</div>
                  <div class="input-frame-username">
                    <div class="label-enter-phone">
                      <img class="padlock-1-icon1" alt="" src="./assets/images/password-24.png"/>
                      <input class="enter-your-password" placeholder="Confirm Password" type="password"/>
                    </div>
                    <img class="invisible-1-icon1" alt="" src="./assets/images/hide-24.png"/>
                  </div>
                  <div class="line"></div>
                </div>
              </div>

            </div>

            <button class="rectangle-parent">
              <div class="frame-child"></div>
              <div class="register2">Register</div>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="rectangle-group col-md-4">
    <div class="register-form">
      <div class="input-group">
        <div class="phone-icon">
          <img class="phone-call-1-icon" alt="" src="./assets/images/phone-50.png"/>
          <div class="empty-space">+212 6 37 54 27 18</div>
        </div>
        <div class="salute">
          <img class="saly-10-icon" alt="" src="./assets/images/login.png"/>
        </div>
      </div>
    </div>
    <div class="sign-up-text">
      <h1 class="sign-up-to">Embark on an aquatic journey  </h1>
      <div class="lorem-ipsum-is">Register now at Club AFTAS for adrenaline-pumping underwater spearfishing competitions!</div>
    </div>
  </div>
</div>
</body>
</html>
