<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
  />
  <title>Sign Up to AFTAS Club</title>
</head>
<body>
<div class="register">
  <div class="register1">
    <div class="your-logo-parent">
      <div class="your-logo">Your Logo</div>
      <div class="f-r-a-m-e">
        <div class="t-e-x-t">
          <div class="f-r-a-m-e1">
            <h2 class="sign-up">Sign up</h2>
            <div class="t-e-x-t1">
              <div class="if-you-already">
                If you already have an account register
              </div>
              <div class="you-can-login-container">
                <span class="you-can">You can </span>
                <span class="login-here">Login here !</span>
              </div>
            </div>
          </div>
          <div class="email-parent">
            <div class="email">Email</div>
            <div class="f-r-a-m-e2">
              <img
                class="message-1-icon"
                alt=""
                src="./public/message-1.svg"
              />

              <input
                class="enter-your-email"
                placeholder="Enter your email address"
                type="text"
              />
            </div>
            <div class="r-e-c-t-a-n-g-l-e"></div>
          </div>
          <div class="f-r-a-m-e3">
            <div class="username-parent">
              <div class="username">Username</div>
              <input
                class="f-r-a-m-e4"
                placeholder="Enter your User name"
                type="text"
              />

              <div class="input-field-username"></div>
              <img
                class="message-1-icon1"
                alt=""
                src="./public/message-1.svg"
              />
            </div>
            <img class="user-1-icon" alt="" src="./public/user-1.svg" />
          </div>
          <div class="password-input">
            <div class="password">Password</div>
            <div class="confirm-password-frame">
              <div class="lock-icon">
                <div class="input-field-confirm-password">
                  <img
                    class="padlock-1-icon"
                    alt=""
                    src="./public/padlock-1.svg"
                  />
                </div>
                <input
                  class="enter-your-password"
                  placeholder="Enter your Password"
                  type="text"
                />
              </div>
              <img
                class="invisible-1-icon"
                alt=""
                src="./public/invisible-1.svg"
              />
            </div>
            <div class="sign-up-frame"></div>
          </div>
          <div class="label-confirm-pass">
            <div class="confrim-password">Confrim Password</div>
            <div class="input-frame-username">
              <div class="label-enter-phone">
                <img
                  class="padlock-1-icon1"
                  loading="eager"
                  alt=""
                  src="./public/padlock-1.svg"
                />

                <div class="confrim-your-password">
                  Confrim your Password
                </div>
              </div>
              <img
                class="invisible-1-icon1"
                loading="eager"
                alt=""
                src="./public/invisible-1.svg"
              />
            </div>
            <div class="sign-up-button"></div>
          </div>
          <button class="rectangle-parent">
            <div class="frame-child"></div>
            <div class="register2">Register</div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="rectangle-group">
    <div class="frame-item"></div>
    <div class="register-form">
      <div class="input-group">
        <div class="phone-icon">
          <img
            class="phone-call-1-icon"
            loading="eager"
            alt=""
            src="./public/phonecall-1.svg"
          />

          <div class="empty-space">+94 0116 789 754</div>
        </div>
        <div class="salute">
          <img
            class="saly-10-icon"
            loading="eager"
            alt=""
            src="./public/saly10@2x.png"
          />
        </div>
      </div>
    </div>
    <div class="sign-up-text">
      <h1 class="sign-up-to">Sign Up to name</h1>
      <div class="lorem-ipsum-is">Lorem Ipsum is simply</div>
    </div>
  </div>
</div>
